[bumpversion]
current_version = 1.0.4
commit = True
tag = True

[bumpversion:file:./setup.py]

[bumpversion:file:./docs/conf.py]

[bumpversion:file:./doc/conf.py]

[bumpversion:file:src/pptrees/__init__.py]
