sphinx
pandoc
docutils
nbsphinx
sphinx-rtd-theme
sphinx-markdown-tables
sphinx-autodoc-typehints
sphinx-click
sphinxcontrib-bibtex
pytest
pytest-regressions
pre-commit
flake8
tox
doc8
pydocstyle
pur
myst-parser
